PL/Connected Services/ServiceReferenceRepartidor/Repartidor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ML" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Repartidor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fotografia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRepartidor" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Repartidores" nillable="true" type="tns:ArrayOfRepartidor" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadAsignada" nillable="true" type="tns:Unidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Repartidor" nillable="true" type="tns:Repartidor" />
  <xs:complexType name="ArrayOfRepartidor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Repartidor" nillable="true" type="tns:Repartidor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepartidor" nillable="true" type="tns:ArrayOfRepartidor" />
  <xs:complexType name="Unidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnioFabricacion" type="xs:int" />
      <xs:element minOccurs="0" name="EstatusUnidad" nillable="true" type="tns:EstatusUnidad" />
      <xs:element minOccurs="0" name="IdUnidad" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPlaca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unidades" nillable="true" type="tns:ArrayOfUnidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unidad" nillable="true" type="tns:Unidad" />
  <xs:complexType name="EstatusUnidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estados" nillable="true" type="tns:ArrayOfEstatusUnidad" />
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstatusUnidad" nillable="true" type="tns:EstatusUnidad" />
  <xs:complexType name="ArrayOfEstatusUnidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstatusUnidad" nillable="true" type="tns:EstatusUnidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstatusUnidad" nillable="true" type="tns:ArrayOfEstatusUnidad" />
  <xs:complexType name="ArrayOfUnidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Unidad" nillable="true" type="tns:Unidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnidad" nillable="true" type="tns:ArrayOfUnidad" />
</xs:schema>